

main {
    padding: 20px;
    font-family: cursive;
}

/* a {
    text-decoration: none;
}

.aboutme-container{
    height: 100vh;
}

.aboutme-para {
    text-align: center;
}

.contactImg{
    width: 24px;
} */

/* .skills{
    height: 60vh;
} 

.star {
    width: 14px;
}*/

/* .form-container {
    padding: 15px 0px;
    border-radius: 2%;
    background-image: linear-gradient(to right, lightsteelblue, lavenderblush);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: brown !important;
    border: 1px solid chocolate !important;
} */