<main>
  <h4>Products</h4>

  <!-- skeleton loader demo -->
  <!-- <ng-container *ngIf="loading">
    <div style="width: 25%">
      <ngx-skeleton-loader count="3" appearance="line"></ngx-skeleton-loader>
    </div>
  </ng-container> -->

  <div class="products">
    <ul>
      <li *ngFor="let product of products; let i = index" class="mb-1">
        {{ product.name }}
        <ng-container *ngIf="product.isClicked == false">
          <button (click)="onSelected(product, i)" class="ms-2">
            Add to Cart
          </button>
        </ng-container>
      </li>
    </ul>

    <div class="removed" *ngIf="removedProduct">
      <p>{{ removedProduct }} was removed form the cart.</p>
    </div>

    <app-shoppingcart
      [selectedProduct]="getSelectedProduct()"
      (notifyEvt)="removeNoti($event)"
    ></app-shoppingcart>
  </div>
</main>
